.btn {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 25%;
    border: 1px solid black;
    
}

.modal-content{
    margin-top: 100px;
    width: 100%;
    border: 2px solid  rgb(109, 252, 142);;

}

.modal-footer {
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 1%;
}

body {
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #021B79 );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #021B79 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cardHidden{
    display: none;
}

.card {
    margin: 10px;
    cursor: pointer;
    border: 2px solid #212529;
    box-shadow: 5px 5px 5px 5px rgba(32,32,32,0.3);
    border-radius: 10px;
}

.card img {
    margin-top: 7px;
    border-radius: 6px;
    height: 50vh;
}

.email-comments {
    text-align: right;
    font-size: 85%;
    font-style: oblique;
    padding-top: 3%;
}

.div-comments {
    border-top: 0.5px solid grey;
    max-height: 200px;
    margin-top: 3%;
    margin-bottom: 5%;

}

.div-total {
    display: none;
}

.div-total_show {
    overflow: scroll;
    max-height: 200px;
    display: block;
}

.navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
    margin-top:-12.1%;
}